<!DOCTYPE html>
<html lang="fr">
<head>
	<title>formulaire vue js</title>
	<meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
	<link rel="stylesheet" href="bootstrap-cerulean.min.css">
	<link rel="stylesheet" href="bootstrap.min.css">
  <link rel="stylesheet" href="font-awesome.css">
  <link rel="stylesheet" href="font-awesome.min.css">
	<meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">WebSiteName</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a href="#">Home</a></li>
      <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Page 1 <span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a href="#">Page 1-1</a></li>
          <li><a href="#">Page 1-2</a></li>
          <li><a href="#">Page 1-3</a></li>
        </ul>
      </li>
      <li><a href="#">Page 2</a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li><a href="#"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
      <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
    </ul>
  </div>
</nav>
<div class="container">
	<button class="btn btn-success mt-5 mb-5"
		@click="addNewEmployeeForm">
		new employee
	</button>
	<div class="card mb-3"
	v-for="(employee, index) in employees">
		<div class="card-body">
			<span class="float-right" style="cursor: pointer"
			@click="deleteEmployeeForm(index)">X</span>
		</div>
		<h4 class="card-title"><strong> add employee (index: {{ index }} )</strong></h4>
		<div class="employee-form">
			<input type="text" class="form-control mb-2" placeholder="Name"
            v-model="employee.name">
			<input type="text" class="form-control mb-2" placeholder="Job"
			v-model="employee.job">
			<textarea class="form-control" cols="30" rows="10" placeholder="About"
			v-model="employee.about"></textarea>
		</div>
	</div>
</div>
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>  
<script src="vue.js"></script>                   
<script src="devtools.js"></script>                   
<script>
	var app= new Vue({ //initialisation de vue js
		 el: '.container', //l'obtion element qui permet d'indiquer sur quel element on va                  greffer vu js.donc on lui dit je greffe sur element qui la                  class container
        data: { //data c'est un gros tableau qui va contenir toute les variables que l'on souheite injecter au sein de notre vue
		     employees:[
                 {
                     name: '',
                     job: '',
                     about: ''
                 }
             ]
        },
        methods:{
        	addNewEmployeeForm(){
        		this.employees.push({
        			name: '',
        			job: '',
        			about: ''

        		})
        	},
        	
        	deleteEmployeeForm( index ){
        		this.employees.splice(index, 1)
        	}

        }
	})
</script>
<script src="jquery.js"></script>
<script src="bootstrap.min.js"></script>
</body>
</html>